<div class="main-coupon-card">
    <img class="main-coupon-card__top-image" src={{topImage}} />
    <div class="main-coupon-card__brand-image-container">
        <img src={{logo}} />
    </div>
    <span class="main-coupon-card__description">{{description}}</span>
    <span class="main-coupon-card__date">{{date}}</span>
    <img class="main-coupon-card__izumrud" src="images/izumrud.png" />
    <span class="main-coupon-card__izumrud-count">{{count}}</span>
    <span class="main-coupon-card__more">подробнее</span>
</div>