<div class="coupon-card">
    <img class="coupon-card__top-image" src={{topImage}} />
    <img class="coupon-card__brand-image" src={{logo}} />
    <span class="coupon-card__description">{{description}}</span>
    <span class="coupon-card__date">{{date}}</span>
    <img class="coupon-card__izumrud" src="images/izumrud.png" />
    <span class="coupon-card__izumrud-count">{{count}}</span>
    <span class="coupon-card__more">подробнее</span>
</div>